<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shiasurprise.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @shiasurprise.amount %>
</p>

<%= link_to 'Edit', edit_shiasurprise_path(@shiasurprise) %> |
<%= link_to 'Back', shiasurprises_path %>
